:root {
    --tommagenta: #ef6f7f;
}

@font-face {
    font-family: "TommySans";
    src: url("../fonts/TommySans.woff") format('woff');
}
@font-face {
    font-family: "TommySans";
    src: url("../fonts/TommySansBold.woff") format('woff');
    font-weight: bold;
}
@font-face {
    font-family: "Century_Gothic";
    src: url("../fonts/CenturyGothic.woff") format('woff');
}
@font-face {
    font-family: "Century_Gothic";
    src: url("../fonts/CenturyGothicBold.woff") format('woff');
    font-weight: bold;
}
@font-face {
    font-family: "Century_Gothic";
    src: url("../fonts/CenturyGothicBoldItalic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Century_Gothic";
    src: url("../fonts/CenturyGothicItalic.woff") format('woff');
    font-style: italic;
}

html {
    height: 100vh;
    background-color: #A9D0FF; /*For no gradient support*/
    background-image: linear-gradient(110deg, #85B1FE, #A9D0FF, #B8BAFE);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:100%;
    height:100%;
}

html, body {
    font-family: "TommySans", "Century_Gothic", "Avenir";
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-size: 16px;
}

.skipLinks {
    margin: 0;
    padding: 0;
    list-style: none;
}
.skipLinks a {
    position: absolute;
    top: -100vh;
    background-color: white;
    color: black;
    padding: .75rem 1rem;
}
.skipLinks a:focus {
    top: 0;
}

/*

#landingPage {
    position: fixed;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    font-size: 3rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 900ms;
}
#landingPage p {
    margin: 0 2rem;
    color: black;
}
#statementSignature {
    align-self: flex-end;
    padding: 0 2rem;
}
#landingPageBtn {
    transform: scale(300%) rotate(45deg);
    margin-top: 5rem;
    border: solid .1rem;
    border-color: transparent black black transparent;
}
#landingPageBtn:hover, #landingPageBtn:focus {
    border-color: transparent var(--tommagenta) var(--tommagenta) transparent;
}
*/

section{ /*offset anchors to compensate for fixed header*/
    position: relative;
}
section .anchor{
    position: absolute;
    top: -6vh;
}
 
/*----------------------------------------navbar----------------------------------------*/

.navbar {
    overflow: hidden;
    background-color: white;
    background-color: #FFFFFF90;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    float: left;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

#title {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 16px;
}
#menubtn {
    color: black;
    font-size: 3rem;
    padding: 5px 16px;
}
#menubtn:focus {
    color: var(--tommagenta);
}

.dropdown:hover #menubtn {
    color: var(--tommagenta);
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    background-color: transparent;
    color: white;
    padding: 14px 16px;
    margin: 0;
}

.navbar a:hover, .dropdown:hover, .navbar a:focus, .dropdown:focus{
    color: var(--tommagenta);
    text-decoration: none;
    background-color: #00000009;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E0E4FC; /*For no gradient support*/
    background-image: linear-gradient(130deg, #D9EAFF, #CAE2FF, #D2D4FF);
    min-width: 200px;
    z-index: 999;
    right: 0;
    overflow-x: hidden;
}

.dropdown-content a {
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 1.3rem;
    min-width: 100%;
}
.dropdown-content a:hover, .dropdown-content a:focus {
    color: var(--tommagenta) !important;
}

/*-------------------------------navbar end---------------------------------------*/

main {
    margin-top: 5rem;
}

.container {
    margin: 0 20vw;
}

@media (max-width: 1300px) {
    .container {
        margin: 0 10vw;
    }
    
    html, body {
        font-size: 16px;
    }
}
@media (max-width: 800px) {
    .container {
        margin: 0 1vw;
    }
    
    html, body {
        font-size: 18px;
    }
}
@media (orientation: portrait) {
    .container {
        margin: 0 1vw;
    }
    
    html, body {
        font-size: 22px;
    }
    
    #title {
        font-size: 2rem;
    }
    #menubtn {
        font-size: 4rem;
    }
    
    .dropdown-content a {
        padding: 22px 28px;
        font-size: 2.5rem;
    }
    
    #settings, privacy {
        width: 80vw;
    }
    .aboutMeLinks div {
        font-size: 32px;
        padding: 16px;
        margin: 0 44px;
        border-radius: 44px;
    }
}

.h1 {
    font-size: 1.6rem;
}
.h2 {
    font-size: 1.3rem;
}

.blurBox {
    background-color: white;
    background-color: #FFFFFF90;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    min-width: 70%;
    padding: 2.5%;
    margin-bottom: 2.5%;
    border-radius: 40px;
}

.projectCard {
    background-color: #FFFFFF90;
    min-width: 70%;
    padding: 2.5%;
    margin-bottom: 2.5%;
    border-radius: 20px;
    max-height: 60vh;
    overflow: auto;
}

a {
    color: var(--tommagenta);
    text-decoration: none;
}
a:visited {
    color: var(--tommagenta);
}
a:hover, a:focus {
    text-decoration: underline;
}
hr {
    border-top: 1px gray;
    border-style: solid none none none;
    margin-top: 1rem;
}

.pills {
    font-size: .9rem;
    border-radius: 1rem;
    padding: 3px 7px 1px 7px;
    border: 2px solid;
    line-height: 1.5rem;
}
.pill-purple  {background-color: white; background-color: #FFFFFF75; color: #A723DB; border-color: #A723DB}
.pill-green   {background-color: white; background-color: #FFFFFF75; color: green; border-color: green}
.pill-orange  {background-color: white; background-color: #FFFFFF75; color: darkorange; border-color: darkorange}
.pill-yellow  {background-color: white; background-color: #FFFFFF75; color: #323232; border-color: #FFDF00}
.pill-blue    {background-color: white; background-color: #FFFFFF75; color: royalblue; border-color: royalblue}
.pill-black   {background-color: white; background-color: #FFFFFF75; color: #323232; border-color: #323232}
.pill-red     {background-color: white; background-color: #FFFFFF75; color: red; border-color: red}
.pill-magenta {background-color: white; background-color: #FFFFFF75; color: magenta; border-color: magenta}

.aboutMeLinks {
    display: flex;
    justify-content: center;
}
.aboutMeLinks div {
    padding: .7rem;
    margin: 0 2rem;
    border-radius: 2rem;
    border: 2px solid var(--tommagenta);
    background-color: white; background-color: #FFFFFF75;
}
.aboutMeLinks div:hover {
    cursor: pointer;
}

.list li {
    list-style: circle;
}

.revealBtn {
    font-size: 2rem;
    padding-bottom: 0;
    font-weight: 0;
    background-color: transparent;
    border: none;
    color: gray;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}
.revealBtn:hover {
    cursor: pointer;
    color: var(--tommagenta);
}

#yellowReveal, #nw2Reveal, #nw1Reveal {
    display: none;
}

#review {
    font-style: italic;
}
#reviewAuthor {
    float: right;
}

.indent {
    list-style: none;
}

#linkBox {
    display: flex;
    justify-content: space-around;
}
#linkBox img {
    border-radius: 2rem;
    padding: 2rem;
    width: 4rem;
    height: auto;
}
#emailImg {
    background-color: #2EAFFF; /*For no gradient support*/
    background-image: linear-gradient(#0077FF, #81D8FF);
}
#linkedinImg {
    background-color: white; /*For no gradient support*/
    background-image: linear-gradient(white, white, white, #F4F4F4);
}
#githubImg {
    background-color: #414141;
}

#settingsBackdrop {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    display: none;
    z-index: 997; /*one less than #settings*/
}
#settings {
    display: none;
    position: fixed;
    z-index: 998;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    background-color: #FFFFFFEE;
    box-shadow: 0 0 2rem #00000090;
}
@supports (backdrop-filter: blur()) {
    #settings {
        background-color: #FFFFFF90;
        backdrop-filter: blur(1rem);
    }
}
#settings input {
    font-family: "TommySans", "Century_Gothic", "Avenir";
    color: black;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    padding: 1rem 0;
    list-style: none;
    width: 100%;
    text-align: start;
}
#settings input:hover, #settings input:focus {
    background-color: #00000009;
    color: var(--tommagenta);
    cursor: pointer;
}
.exitSettingsBtn {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    background-color: transparent;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}
.exitSettingsBtn:hover, .exitSettingsBtn:focus {
    color: var(--tommagenta);
    cursor: pointer;
}

#privacyBackdrop {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    display: none;
    z-index: 997; /*one less than #settings*/
}
#privacy {
    display: none;
    position: fixed;
    z-index: 998;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    background-color: #FFFFFFEE;
    box-shadow: 0 0 2rem #00000090;
}
@supports (backdrop-filter: blur()) {
    #privacy {
        background-color: #FFFFFF90;
        backdrop-filter: blur(1rem);
    }
}

footer {
    font-size: 1rem;
    padding: 2rem 0;
    border-top: 1px dashed white;
    color: white;
    text-align: center;
    display: inline-block;
    width: 100%;
}
/*---------------------------bubbles-------------------------------*/
.bubbles li:nth-child(1) {
    background-color: #7797eb7c;
}
.bubbles li:nth-child(2) {
    background-color: #99e3f1c3;
}
.bubbles li:nth-child(3) {
    background-color: #aaa2f888;
}
.bubbles li:nth-child(4) {
    background-color: #99e3f1c3;
}
.bubbles li:nth-child(5) {
    background-color: #aaa2f888;
}
.bubbles li:nth-child(6) {
    background-color: #7797eb7c;
}
.bubbles li:nth-child(7) {
    background-color: #99e3f1c3;
}
.bubbles li:nth-child(8) {
    background-color: #aaa2f888;
}
.bubbles li:nth-child(9) {
    background-color: #99e3f1c3;
}
.bubbles li:nth-child(10) {
    background-color: #7797eb7c;
}