:root {
    --tommagenta: #ef6f7f;
}

@font-face {
    font-family: "Century_Gothic";
    src: url("fonts/GOTHIC.woff") format('woff');
}
@font-face {
    font-family: "Century_Gothic";
    src: url("fonts/GOTHICB.woff") format('woff');
    font-weight: bold;
}
@font-face {
    font-family: "Century_Gothic";
    src: url("fonts/GOTHICBI.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Century_Gothic";
    src: url("fonts/GOTHICI.woff") format('woff');
    font-style: italic;
}

html {
    height: 100vh;
    background-color: #CCCCCC; /*For no gradient support*/
    background-image: linear-gradient(110deg, #85B1FE, #A9D0FF, #B8BAFE);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:100%;
    height:100%;
}

html, body {
    font-family: "Century_Gothic", "Avenir";
    font-size: 16px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 3vh;
    padding: 1rem;
    position: fixed;
    z-index: 999;
    background-color: white;
    background-color: #FFFFFFBB;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
}
header #title {
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

section{ /*offset anchors to compensate for fixed header*/
    position: relative;
}
section .anchor{
    position: absolute;
    top: -6vh;
}
/*---------------------------------Hamburger Menu-----------------------------------------*/
#hamburger {
    width: 35px;
    height: 20px;
    position: relative;
    margin-right: 1.5rem;
}
#hamburger span { /*The three lines*/
    display: block;
    position: absolute;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background: black;
    float: right;
    transition: .5s;
}
/*Closed menu*/
#hamburger #top {
    top: 0px; /*top*/
}
#hamburger #middle1, #hamburger #middle2 {
    top: 12px; /*middle*/
}
#hamburger #bottom {
    top: 24px; /*bottom*/
}
/*Opened menu*/
#hamburger.x span{
    background: var(--tommagenta);
}
#hamburger.x #top {
    top: 12px; /*move to middle*/
    transform: rotate(135deg);
}
#hamburger.x #middle1 {
    transform: rotate(45deg);
}
#hamburger.x #middle2 {
    transform: rotate(-45deg);
}
#hamburger.x #bottom {
    top: 12px; /*move to middle*/
    transform: rotate(-135deg);
}
.dropdown {
    float: right;
    position: relative;
    display: block;
    margin-right: 1%;
}
.navList {
    z-index: 999;
    display: none;
    position: fixed;
    right: 1rem;
    background-color: white;
    background-color: #FFFFFF90;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    min-width: 200px;
    top: 6vh;
    right: 0;
    padding: 1rem 0.5rem;
/*    border-radius: 0 0 40px 40px;*/
}
.navList a {
    color: black !important;
    text-decoration: none;
    font-size: 25px;
    line-height: 3rem;
    text-align: left;
}
.navList a:hover {
    color: var(--tommagenta) !important;
    text-decoration: none;
}
/*-------------------------------Hamburger Menu end---------------------------------------*/

main {
    margin-top: 5rem;    
}

.container {
    margin: 0 20%;
}

@media (max-width: 1300px) {
    .container {
        margin: 0 10%;
    }
}
@media (max-width: 800px) {
    .container {
        margin: 0 1%;
    }
}
@media (orientation: portrait) {
    .container {
        margin: 0 1%;
    }
}

.heading {
    color: white;
    display: block;
    text-align: center;
    font-weight: normal;
}

.h1 {
    font-size: 1.6rem;
}
.h2 {
    font-size: 1.3rem;
}

.blurBox {
    background-color: white;
    background-color: #FFFFFF90;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    min-width: 70%;
    padding: 2.5%;
    margin-bottom: 2.5%;
    border-radius: 40px;
}

a {
    color: var(--tommagenta);
    text-decoration: none;
}
a:visited {
    color: var(--tommagenta);
}
a:hover {
    text-decoration: underline;
}
hr {
    border-top: 1px gray;
    border-style: solid none none none;
    margin-top: 1rem;
}

.pills {
    font-size: .9rem;
    border-radius: 1rem;
    padding: 0 7px 1px 7px;
    border: 2px solid;
}
.pill-purple {background-color: white; background-color: #FFFFFF75; color: rebeccapurple; border-color: rebeccapurple}
.pill-green  {background-color: white; background-color: #FFFFFF75; color: green; border-color: green}
.pill-orange {background-color: white; background-color: #FFFFFF75; color: darkorange; border-color: darkorange}
.pill-yellow {background-color: white; background-color: #FFFFFF75; color: #323232; border-color: #FFDF00}
.pill-blue   {background-color: white; background-color: #FFFFFF75; color: royalblue; border-color: royalblue}
.pill-black  {background-color: white; background-color: #FFFFFF75; color: #323232; border-color: #323232}
.pill-red  {background-color: white; background-color: #FFFFFF75; color: red; border-color: red}
.pill-magenta  {background-color: white; background-color: #FFFFFF75; color: magenta; border-color: magenta}

.centerText {
    display: block;
    text-align: center;
}

.list li {
    list-style: circle;
}

#review {
    font-style: italic;
}
#reviewAuthor {
    float: right;
}

.indent {
    list-style: none;
}

#personalProjectsBox {
    height: 80vh;
}

#cardListView {
    overflow-x: auto;
    overflow-y: hidden; /*Prevent verticle scrolling*/
    white-space: nowrap;
}
#cardListView > img {
    display: inline-block;
    height: 60vh;
    vertical-align: top;
    margin: 0 1rem 2rem 1rem;
    white-space: normal;
}